PORT=5001
NODE_ENV=development

MONGO_URI=

JWT_SECRET=
REFRESH_TOKEN_SECRET=

CLIENT_URL=http://localhost:3000
BACKEND_URL=http://localhost:5001

GOOGLE_CLIENT_ID=

GHUB_CLIENT_ID=
GHUB_CLIENT_SECRET=

SENDER_EMAIL=
MAILER_AUTH=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
